.pageWrapper {
  min-height: 100vh;
}

.button-ui {
  background-color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-ui:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-ui {
    padding: 10px 30px;
  }
}

.Input {
  position: relative;
}

.csvParser {
  // position: absolute;
  // top: 0;
  // filter: opacity(0%);
  // cursor: pointer;
  margin-left: -20px;
}